.mainBox {
  justify-content: center;
  background-color: #f5f5f5;
  color: black;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 0;
}

.boxContainerText {
  justify-content: center;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  color: #000;
}

.boxContainerText p {
  color: #666666;
}

.boxConteinHouse {
  padding-top: 100px;
}

.boxConteinerFooter {
  padding-top: 100px;
}

.footer {
  align-items: center; /* Alinea los íconos y textos en la misma altura */
  justify-content: center; /* Centra horizontalmente los elementos */
  gap: 100px; /* Espaciado horizontal entre los íconos */
}

.footer a {
  display: inline-flex;
  color: #666666; /* Color de los íconos */
  font-size: 800px; /* Tamaño de los íconos */
  text-decoration: none; /* Elimina el subrayado */
  transition: transform 0.3s ease, color 0.3s ease;
  margin: 0 10px; /* Espaciado horizontal entre los íconos */
  padding-bottom: 20px;
}

.footer a:hover {
  color: #756e6e; /* Cambia el color al pasar el mouse */
  transform: scale(1.2); /* Agranda los íconos al pasar el mouse */
}

.footer p {
  margin: 0;
  font-size: 14px;
  color: #333;
}

.gridConteinerBoxFooter {
  text-align: center;
  padding: 20px;
}
