.mainBox {
  justify-content: center;
  background-color: #f5f5f5;
  color: black;
}

.title {
  font-size: 2rem;
  letter-spacing: 10px;
  margin-bottom: 5px;
  font-weight: bold;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.889);
  padding-top: 50px;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
}

.boxSliderTextImage p {
  letter-spacing: 3px;
  padding-top: 10px;
  font-weight: bold;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
}

.boxContainerText {
  justify-content: center;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  color: #000;
}

.boxContainerText h1 {
  font-family: "Times New Roman", Garamond, "Baskerville";
  padding-top: 5px;
}

.boxContainerText h2 {
  font-family: "Times New Roman", Garamond, "Baskerville";
}

.boxContainerText p {
  color: #666666;
}

.decorative-image {
  width: 250px; /* Ajusta el ancho según tus necesidades */
  height: auto;
}

.boxConteinHouse {
  padding-top: 100px;
}

.card {
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.02); /* Efecto de zoom al pasar el cursor */
}

.card-button {
  opacity: 0; /* Oculta el botón por defecto */
  transition: opacity 0.3s ease-in-out;
  display: flex;

  margin-top: 10px;
}

.card:hover .card-button {
  opacity: 1; /* Muestra el botón al hacer hover */
}

.boxConteinerFooter {
  padding-top: 100px;
}

.footer {
  align-items: center; /* Alinea los íconos y textos en la misma altura */
  justify-content: center; /* Centra horizontalmente los elementos */
  gap: 100px; /* Espaciado horizontal entre los íconos */
}

.footer a {
  display: inline-flex;
  color: #666666; /* Color de los íconos */
  font-size: 800px; /* Tamaño de los íconos */
  text-decoration: none; /* Elimina el subrayado */
  transition: transform 0.3s ease, color 0.3s ease;
  margin: 0 10px; /* Espaciado horizontal entre los íconos */
  padding-bottom: 20px;
}

.footer a:hover {
  color: #756e6e; /* Cambia el color al pasar el mouse */
  transform: scale(1.2); /* Agranda los íconos al pasar el mouse */
}

.footer p {
  margin: 0;
  font-size: 14px;
  color: #333;
}

.gridConteinerBoxFooter {
  text-align: center;
  padding: 20px;
}
