/*.boxPrincipal {
  background-color: white;
  flex-flow: column;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}*/

.boxImagePrincipalTop {
  position: relative;
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.boxPrincipalTextTop {
  position: absolute;
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: stretch;
}

.imagePrincipalTitleText {
  color: white;
  font-family: sans-serif;
  text-align: center;
  margin: 0;
  font-size: 55px;
}

.imagePrincipalText {
  font-size: 17px;
  color: azure;
  text-shadow: black;
  font-family: "Avenir", "Avenir Next", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  text-align: center;
}

.boxGridContainer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: beige;
  padding: 0;
  box-sizing: border-box;
}

.gridContainer {
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr; /* Ajusta según sea necesario */
  grid-template-rows: auto;
}

.reverse {
  flex-direction: row-reverse;
}

.textPrincipalColumn {
  display: flexbox;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 0;
}

.textTitleColumn {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 40px;
  margin-top: 50px;
  color: black;
}

.textColumn {
  letter-spacing: normal;
  font-family: "Avenir", "Avenir Next", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  line-height: 2;
  font-size: 15px;
  color: black;
  width: 66%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding-bottom: 10px;
}

.textColumn ul {
  list-style-type: circle;
  padding-left: 20px;
}

.textColumn ul li {
  font-size: 15px;
  color: black;
  line-height: 1.8;
}

.imagePrincipalColumn {
  display: flex;
  height: 100%;
  align-items: stretch;
  width: 100%;
  padding: 0;
  min-height: 500px;
}

.imageColumn {
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-position: center;
}

.imagePrincipalColumnItem {
  background-size: cover;
  background-position: "center";
  background-repeat: "no-repeat";
  width: 100%;
  height: 100%;
  min-height: 100%;
  object-fit: cover;
}
