.navBarContainer {
  background-color: rgb(253, 251, 251);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* Asegura que el ancho sea del 100% */
  display: flex;
  flex-flow: column;
  z-index: 1000;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden; /* Evita que el contenido sobresalga */
  color: black;
  display: flex;
  justify-content: center;
}

.navBarGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1rem;
}

.navBarItem {
  padding: 10px;
  text-align: center;
}
.openNavBra {
  margin: 10px;
  height: 30px; /* Comienza cerrado */
  overflow: hidden; /* Oculta contenido que exceda el alto */
  transition: height 0.3s ease; /* Transición suave para el cambio de altura */
}

.closeNavBra {
  height: 0; /* Altura cerrada */
  overflow: hidden; /* Oculta contenido */
}

.openNavBra.active {
  height: auto; /* Ajusta la altura al tamaño deseado */
}
