.tarifaContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tarifaBox {
  color: black;
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tarifasItemBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.footer a {
  display: inline-flex;
  color: #666666;
  font-size: 800px;
  text-decoration: none;
  transition: transform 0.3s ease, color 0.3s ease;
  margin: 0 10px;
  padding-bottom: 20px;
}

.footer a:hover {
  color: #756e6e;
  transform: scale(1.2);
}

.footer p {
  margin: 0;
  font-size: 14px;
  color: #333;
}

.gridConteinerBoxFooter {
  text-align: center;
  padding: 20px;
}

.boxConteinerFooter {
  padding-top: 100px;
}
