.boxPrincipal {
  background-color: white;
  flex-flow: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagenGrandePrincipal {
  position: absolute; /* Se mantiene en el flujo normal del documento */
  width: 100vw; /* Asegura que ocupe todo el ancho de la pantalla */
  height: 400px;
  background-image: url("https://static.wixstatic.com/media/b2e6e5_8a112cdd7712454a81942513053ae8e9~mv2.jpg/v1/fill/w_1850,h_514,al_b,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/b2e6e5_8a112cdd7712454a81942513053ae8e9~mv2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex; /* Para centrar el contenido si es necesario */
  flex-direction: column;
  align-items: center;

  justify-content: center;
}

.imageTitleText {
  position: absolute;
  bottom: 60px;
  right: 60px;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 55px;
  font-family: montserrat, sans-serif;
}

.imageText {
  font-size: 17px;
  position: absolute;
  bottom: 16px;
  right: 16px;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  font-family: "Avenir", "Avenir Next", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

.boxTextContainer {
  width: 100%;
  max-width: 1200px; /*si saco esto lo hago igual a kuntur*/
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-sizing: border-box; /* Asegura que el padding no afecte el tamaño total */
}

.gridContainer {
  align-items: stretch;
  width: 100%;
  justify-content: space-between; /* Centra los elementos horizontalmente */
  /* Centra los elementos verticalmente */
}

.leftColumn {
  display: flexbox;
  flex-direction: column;
  justify-content: center; /* Centra horizontalmente */
  align-items: flex-start; /* Centra verticalmente */
  text-align: center; /* Asegura que el texto esté centrado */
  padding: 16px;
  width: 100%; /* Se adapta al tamaño del contenedor */
  height: 100%;
}

.columText {
  letter-spacing: normal;
  font-family: "Avenir", "Avenir Next", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  line-height: 2;
  font-size: 17px;
  color: black;
  padding-right: 10%;
  padding-left: 20%;
  margin-bottom: 16px;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.columTitle {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 60px;
  margin-top: 60px;
  color: black;
}

.rightColum {
  max-width: 48%;
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 100%;
}

.rightImage {
  width: 100%; /* Se adapta al tamaño del contenedor */
  height: 870px; /* Ajusta la altura para mantener proporciones */
  background-image: url("https://static.wixstatic.com/media/b2e6e5_0c06a49057e34d83824825dc91dc304a~mv2.jpg/v1/fill/w_791,h_1041,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/b2e6e5_0c06a49057e34d83824825dc91dc304a~mv2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
  min-height: 300px; /* Altura mínima para que siempre se vea algo */
  min-width: 100px;
}
